.nav-container {
    width: 250px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-self: flex-end;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.asideButton {
    width: 3rem;
    height: 2.5rem;
    border-radius: 25%;
    background-color: transparent;
    border: 1px solid var(--decorated-color);
    color: var(--title-text-color);
}

.asideModal {
    background-color: #88c2ce;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    width: 21rem;
    height: 8rem;
}

.asideButtonModalClose {
    border-radius: 0.6rem;
    width: 7rem;
    height: 1.8rem;
}