.content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.content__title {
    text-align: center;
    font-size: 1.8rem;
    color: #d6dfe8;
}

.content__result {
    color: #88c2ce;
    font-size: 1.3rem;
    text-align: center;
    width: 15rem;
    height: 1.5rem;
}

.content__answers {
    font-size: 1rem;
    color: #626461;
    text-align: center;
    width: 15rem;
    height: 1.5rem;
}
