.button-transform {

    &:active {
        transform: scale(0.9);
        transition: transform 0.2s ease;
    }
}

.button-rules {
    background-color: transparent;
    color: #88c2ce;
    outline: 1px solid #f4f9fc;
    align-self: center;
    transition-duration: 0.2s;
    width: 9rem;
    height: 1.8rem;
    border-radius: 0.6rem;
    align-items: start;

    &:hover {
        color: #f4f9fc;
        background-color: #88c2ce;
        outline: none;
    }
}

.button-submit {
    border-radius: 0.6rem;
    width: 7rem;
    height: 1.8rem;
    transition-duration: 0.2s;

    &:hover {
        background-color: #88c2ce;
    }
}

.disabled {
    &:disabled {
        cursor: not-allowed;
        pointer-events: none;
        background-color: #acacac;
    }
}

.button-restart {
    transition-duration: 0.2s;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    align-items: start;
    background-image: url("/restart.svg");
    background-size: 100%;
    background-position: center;
}

.modal__button-close {
    border-radius: 0.6rem;
    width: 7rem;
    height: 1.8rem;

    &:hover {
        background-color: #d6dfe8;
    }
}