@import "src/styles/global.css";
@import "../components/Button/Button.css";
@import "../components/Header/Header.module.css";
@import "src/pages/AboutPage/AboutPage.module.css";
@import "../pages/GuessTheNumberPage/FormGameNumber/Form.module.css";
@import "../pages/GuessTheNumberPage/ContentTitle/Header.module.css";
@import "../components/Modal/Modal.module.css";
@import "../pages/HomePage/HomePage.css";
@import "../pages/GuessTheNumberPage/SectionGameNumberContent.module.css";
@import "../pages/TwoChairsPage/TwoChairs.module.css";
@import "variables.css";

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  background-color: var(--page-main-color);
}