dialog {
    overflow: hidden;
    z-index: 100;
    &::backdrop {
        background-color: rgba(0, 0, 0, 0.84);
    }
}

dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.4rem;
}

.modal-close {
    border-radius: 0.6rem;
    width: 7rem;
    height: 1.8rem;

    &:hover {
        background-color: #d6dfe8;
    }
}
