.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2.3rem;
    padding: 1rem;
    background: -webkit-linear-gradient(0deg, rgb(17, 17, 17), rgb(45, 45, 45), rgb(22, 22, 22));
    background: -moz-linear-gradient(0deg, rgb(17, 17, 17), rgb(45, 45, 45), rgb(22, 22, 22));
    background: linear-gradient(0deg, rgb(17, 17, 17), rgb(45, 45, 45), rgb(22, 22, 22));
    border-top: 1px solid #000 ;
    border-bottom: 1px solid #000 ;
}

.header__link {
    color: var(--title-text-color);

    &:hover {
        color: var(--white-color-1);
    }
}

.active {
    color: var(--decorated-color);
}
