.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2.3rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: 1px solid #000 ;
    border-bottom: 1px solid #000 ;
}

.header__link {
    color: var(--title-text-color);


    &:hover {
        color: var(--white-color-1);
    }
}

.active {
    color: var(--decorated-color);
}
