@import "global.css";
@import "normalize.css";
@import "components/Button/Button.css";
@import "components/Form/Form.module.css";
@import "components/Header/Header.module.css";
@import "components/Modal/Modal.css";
@import "components/SectionContent/SectionContent.module.css";

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  background-color: #10100f;
}