.home__page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem;
    gap: 0.5rem;
}

.home__page-title {
color: var(--white-color-1);
}

.decor-pepe {
    background-image: url("/pepe_shiny.gif");
    width: 100px;
    height: 100px;
}